# .htaccess
# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# Options
Options -Indexes
Options +FollowSymLinks

# Rewrite settings
RewriteEngine On

# Specific Rewrite Rules
RewriteRule gallery/TAL-articles/(.*),([0-9]*).html/([0-9]*)$ index.php?hook=gallery&articleHook=article&articleBox=TAL-articles&article=$1&articlePage=$2&imgIdx=$3 [L]
RewriteRule TAL-articles/(.*),(.*).html$ index.php?hook=article&article=$1&articlePage=$2 [L]
RewriteRule TAL-articles/([0-9]+)$ index.php?hook=articles&boxPage=$1 [L]
RewriteRule backFrom/TAL-articles/(.*).html$ index.php?hook=articles&boxPage=$1 [L]
RewriteRule TAL-articles$ index.php?hook=articles [L]
RewriteRule ^/?$ index.php?hook=articles [L]

RewriteRule TAL-pages/Kontakt.html$ index.php?hook=contact&op=show [L]
RewriteRule TAL-pages/Gaestebuch.html$ index.php?hook=gaestebuch&op=show [L]
RewriteRule TAL-pages/(.*),(.*).html$ index.php?hook=page&article=$1&articlePage=$2 [L]
RewriteRule TAL-pages/(.*).html$ index.php?hook=page&article=$1 [L]

RewriteRule TAL-downloads/(.*),(.*).html$ index.php?hook=download&article=$1&articlePage=$2 [L]
RewriteRule TAL-downloads/([0-9]+)$ index.php?hook=downloads&boxPage=$1 [L]
RewriteRule backFrom/TAL-downloads/(.*).html$ index.php?hook=downloads&boxPage=$1 [L]
RewriteRule TAL-downloads$ index.php?hook=downloads [L]

RewriteRule sitemap.xml index.php?hook=sitemap [L]
RewriteRule boxes.json - [F]

ErrorDocument 404 /error404.php