# .htaccess
# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

Options -Indexes
Options +FollowSymLinks
RewriteEngine On

RewriteRule gallery/TAL-articles/(.*),([0-9]*).html/([0-9]*)$       index.php?mod=galleryC&hook=index&articleHook=article&articleBox=TAL-articles&article=$1&articlePage=$2&imgIdx=$3
RewriteRule TAL-articles/(.*),(.*).html$                            index.php?mod=articleC&hook=index&article=$1&articlePage=$2
RewriteRule TAL-articles/([0-9]+)$                                  index.php?mod=indexC&hook=index&boxPage=$1
RewriteRule backFrom/TAL-articles/(.*).html$                        index.php?mod=indexC&hook=index&boxPage=$1
RewriteRule TAL-articles$                                           index.php?mod=indexC&hook=index
RewriteRule /$                                                      index.php?mod=indexC&hook=index

RewriteRule TAL-pages/Kontakt.html$                                 index.php?mod=contactC&hook=index
RewriteRule TAL-pages/Gaestebuch.html$                              index.php?mod=gaestebuchC&hook=index
RewriteRule TAL-pages/(.*),(.*).html$                               index.php?mod=pageC&hook=index&article=$1&articlePage=$2
RewriteRule TAL-pages/(.*).html$                                    index.php?mod=pageC&hook=index&article=$1

RewriteRule TAL-downloads/(.*),(.*).html$                           index.php?mod=downloadsC&hook=index&article=$1&articlePage=$2
RewriteRule TAL-downloads/([0-9]+)$                                 index.php?mod=downloadsC&hook=index&boxPage=$1
RewriteRule backFrom/TAL-downloads/(.*).html$                       index.php?mod=downloadsC&hook=index&boxPage=$1
RewriteRule TAL-downloads$                                          index.php?mod=downloadsC&hook=index

RewriteRule sitemap.xml                                             index.php?hook=sitemap

RewriteRule                                                         boxes.json - [F]

ErrorDocument 404                                                   /error404.php